<app-hero #appHero [msg]="message" (outer)="runParent($event)"></app-hero>
<br/>
<app-demo color="blue">
	我是外部嵌入的内容
</app-demo>
<app-parent>
  <app-child></app-child>
</app-parent>
<button appCustomButton>這是按鈕</button>
<div>Title Case: {{'angular' | titlecase}}</div>
<div>Upper Case: {{'angular' | uppercase}}</div>
<div>Lower Case: {{'angular' | lowercase}}</div>
<div>
  {{'只顯示五位數{這裡全部顯示' | slice: 0:5}}
</div>
<div>預設數顯示:{{3.14159 | number }}</div>
<div>
  指定整數與小數長度: {{3.14159 | number : '4.1-5'}}
</div>
<div>百分比:{{0.25 | percent: "2.2-4" }}</div>
<div>金額 : {{ 25000 | currency }}</div>
<div>
  CAD 貨幣瑪 : {{ 25000 | currency: "CAD"}}
</div>
<div>
  EUR 貨幣瑪: {{ 25000 | currency: "EUR":"symbol"}}
</div>
UTC時間:{{ now | date: "short":"+0000"}}
<a [routerLink]="['hero','list']" routerLinkActive="active">英雄</a><br>
<a [routerLink]="['demo']" routerLinkActive="active">Demo</a>
<app-td-form></app-td-form>

<input type="text" [formControl]="condition"/>

<div [formGroup]="form">
  <div>
    帳號: <input type="text" formControlName="id"/>
  </div>
  <div>
    密碼: <input type="password" formControlName="password"/>
  </div>
</div>